
body {

  position: relative;
  font-family: Arial, sans-serif;
}

#h1 {
 margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  /*background-color: #2196F3;*/
  padding: 10px;
    justify-content:center;

   position: fixed;

   left: 50%;
   top: 50%;

    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);


}
.grid-item {

  
  background-size: cover;
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  margin: 0.1vw; 
  font-family: Arial, sans-serif;
  font-size: 3vw;
  text-align: center;
  height: 9.5vw;
  width: 9.5vw;
}



.fadeout {
    -webkit-animation: fadeout .05s;
            animation: fadeout .05s; /***Transition delay 3s fadeout is class***/
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
.fadein {

    -webkit-animation: fadein .5s;
            animation: fadein .5s; /***Transition delay 3s fadeout is class***/
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.invisible {
  opacity: 0;
}


@-webkit-keyframes fadeout {
    
    from { opacity: 1; } /** from color **/
    to { opacity: 0; } /** to color **/
}

@keyframes fadeout {
    
    from { opacity: 1; } /** from color **/
    to { opacity: 0; } /** to color **/
}

@-webkit-keyframes fadein {
    
    from { opacity: 0; } /** from color **/
    to { opacity: 1; } /** to color **/
}

@keyframes fadein {
    
    from { opacity: 0; } /** from color **/
    to { opacity: 1; } /** to color **/
}



    #btn {

      position: fixed;
  

      left: 50%;
      bottom: 0.05vw;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);




        margin-top: 20px;
      /*  background-image: -o-linear-gradient(left, #19668D, #22AB93);
        background-image: -webkit-gradient(linear, left top, right top, from(#19668D), to(#22AB93));
        background-image: linear-gradient(to right, #19668D, #22AB93);
        /*height: 40px;*/
        font-family: Arial, sans-serif;font-size: 20px;font-style: normal;font-variant: normal;font-weight: 700;line-height: 47px;color: #fff;
      /*  padding: 10px 0px auto 0px;*/
        border-radius: 10px;
        -webkit-box-shadow: 1px 1px 10px;
                box-shadow: 1px 1px 10px;
        border: 1px;
        outline: 2px;
        background-color: #b8b7b4;
    }
    


    button:active {
    -webkit-box-shadow: inset 2px 1px 8px;
            box-shadow: inset 2px 1px 8px;
    border: 0;
       }
    button:disabled {
opacity: 0.25;

    }


    button:hover {
        cursor: pointer;
    }
    .warn:hover {
        cursor: pointer;
    }
    
    .warn {font-family: Arial, sans-serif;font-size: 20px;font-style: normal;font-variant: normal;font-weight: 700;line-height: 40px;color: #fff;
    margin-left: 30px;
    margin-right: 30px;
    }