/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
    margin: 0;
    text-align: center;
     background-color: #C55FFC;
     /*background-image: url('back.jpg');*/
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .gameField {
    position: relative;
    margin: 40px auto 10px auto;
    width: 870px;
    height: 475px;

    border: 5px solid white;
    background-color: white;

    display: block;
 
    }
    
    .cardWrapper {
    position: absolute;	
    display: block;
    width: 160px;
    height: 115px;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    }



    .card {
   /* border-radius: 9px;*/
   /* border: 5px solid #F8D210;*/
    display: block;
    width: 170px;
    height: 115px;
   /* background-color: #F8D210;


    
    
    /*background-image: linear-gradient(to top right, #19668D, #22AB93); */
  /*  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);*/

    }
    


    .red .back{
    /*    background-color: #FA26A0;
    
     /*  border: 5px solid #F8D210;*/
        width: 170px;
        height: 115px;
    }
    
    .green .back{
     /*   background-color: #ECF87F;
    /*    border: 5px solid #F8D210;*/
        width: 170px;
        height: 115px;
    }
    
    /*.red .card {
     border-color: #F44336;
    }*/
    
    .cardWrapper.turn {
    background-image: none;
   /* -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);*/
    }
    
    .cardWrapper.fix {
        background-image: none;
      /*  -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);*/
    }
    
    .cardWrapper:hover{
    cursor: pointer;
    }
    
    .front, .back {
    position: absolute;
    top:0;
    left: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
    }
    
    .back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: none;
    /*background-color: #2FF3E0;
   /* -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); */
    }
    
    .emo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0 auto 0 auto;
    font-size: 13px; /* уменьшить, если надо много текста*/
    text-align: center;
    text-transform: uppercase;
    
    }
    .down {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0 auto 0 auto;
    font-size: 13px; /* уменьшить, если надо много текста*/
    text-align: center;
    text-transform: uppercase;
    
    }
    

    .none {

    	display: none;
    }


    .top {display: block;
            position: absolute;
            left: 50%;
            transform: translate(-50%,0);
           /* z-index: 1600;*/
background-color: #C55FFC;

        }

     #top1 {
     	z-index: 50;
     }
     #top2 {
     	z-index: 49;
     }
     #top3 {
     	z-index: 48;
     }
     #top4 {
     	z-index: 47;
     }
     #top5 {
     	z-index: 46;
     }

     #top6 {
     	z-index: 45;
     }
     #top7 {
     	z-index: 44;
     }
     #top8 {
     	z-index: 43;
     }
     #top9 {
     	z-index: 42;
     }
     #top10 {
     	z-index: 41;
     }

          #top11 {
     	z-index: 40;
     }
     #top12 {
     	z-index: 39;
     }
     #top13 {
     	z-index: 38;
     }
     #top14 {
     	z-index: 37;
     }
     #top15 {
     	z-index: 36;
     }

     #top16 {
     	z-index: 35;
     }
     #top17 {
     	z-index: 34;
     }
     #top18 {
     	z-index: 33;
     }
     #top19 {
     	z-index: 32;
     }
     #top20 {
     	z-index: 31;
     }

     #top21 {
     	z-index: 30;
     }
     #top22 {
     	z-index: 29;
     }
     #top23 {
     	z-index: 28;
     }
     #top24 {
     	z-index: 27;
     }
     #top25 {
     	z-index: 26;
     }

          #top26 {
     	z-index: 25;
     }
     #top27 {
     	z-index: 24;
     }
     #top28 {
     	z-index: 23;
     }
     #top29 {
     	z-index: 22;
     }
     #top30 {
     	z-index: 21;
     }
     #top31 {
     	z-index: 20;
     }
     #top32 {
     	z-index: 19;
     }
     #top33 {
     	z-index: 18;
     }
     #top34 {
     	z-index: 17;
     }
     #top35 {
     	z-index: 16;
     }

     #top36 {
     	z-index: 15;
     }
     #top37 {
     	z-index: 14;
     }
     #top38 {
     	z-index: 13;
     }
     #top39 {
     	z-index: 12;
     }
     #top40 {
     	z-index: 11;
     }

          #top41 {
     	z-index: 10;
     }
     #top42 {
     	z-index: 9;
     }
     #top43 {
     	z-index: 8;
     }
     #top44 {
     	z-index: 7;
     }
     #top45 {
     	z-index: 6;
     }

     #top46 {
     	z-index: 5;
     }
     #top47 {
     	z-index: 4;
     }
     #top48 {
     	z-index: 3;
     }
     #top49 {
     	z-index: 2;
     }
     #top50 {
     	z-index: 1;
     }

    

















    #c16{   position: absolute;
    		
            top: 100%;
            transform: translate(0,-100%);}

    #c17{   position: absolute;
    		
            top: 100%;left: 25%;
            transform: translate(-25%,-100%);}

    #c18{position: absolute;
    		
            top: 100%; left: 50%;
            transform: translate(-50%,-100%);}
  
    #c19{position: absolute;
    		
            top: 100%; left: 75%;
            transform: translate(-75%,-100%);}

    #c20{position: absolute;
    		
            top: 100%; left: 100%;
            transform: translate(-100%,-100%);}

    .one {
        /*background-color:  #ac92eb;*/
        background-color:  #8744E0;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    }

    .two {
        background-color:  #4fc1e8;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    }
    .three {
        background-color:  #a0d568;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    }
    .four {
        background-color:  #ffce54;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    }
    .five {
        background-color:  #ed5564;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);      
    }

    .l1 {
            margin-top: 40px;
    font-family: Arial, sans-serif; font-size: 42px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 47px;
        display: inline-block;
        color:  #8744E0;
    }

    .l2 {
            margin-top: 40px;
    font-family: Arial, sans-serif; font-size: 42px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 47px;
                display: inline-block;
        color:  #4fc1e8;
    }
    .l3 {
            margin-top: 40px;
    font-family: Arial, sans-serif; font-size: 42px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 47px;
                display: inline-block;
        color:  #a0d568;

    }
    .l4 {
            margin-top: 40px;
    font-family: Arial, sans-serif; font-size: 42px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 47px;
                display: inline-block;
        color:  #ffce54;
    }
    .l5 {
            margin-top: 40px;
    font-family: Arial, sans-serif; font-size: 42px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 47px;
                display: inline-block;
        color:  #ed5564;  
    }


    h1{
    margin-top: 40px;
    font-family: Arial, sans-serif; font-size: 42px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 47px;
    color: grey;
    }
    
    