/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body{
   margin: 0;
    text-align: center;
     background-color: #FBE7C6;
     font-family: "Verdana", Helvetica, Arial, sans-serif;
    }

    .input {
position: absolute;
bottom:-500px;
left:50px;

    }

    .gameField {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    margin: -10px auto 1px auto;
    width: 100%;

    background-color: #FBE7C6;
     -webkit-box-align: end;
         -ms-flex-align: end;
             align-items: end;

   /*display: grid;


    grid-template-columns:720px 0px;*/

   /* perspective: 600px;*/
    
    }


        .cardWrapper {
        position: relative;
        padding: auto;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    
      font-size: 80px;
    
    z-index: 999;
        }

 


    .cardWrapper:hover{
    cursor: pointer;
    }

    #c1 {
    opacity: 1;
    /*animation: fadeoutText 1s; /***Transition delay 3s fadeout is class***/

   /*  background-color: #FFAEBC;*/
     text-transform: uppercase;
     left: -300px;
     -webkit-box-align: end;
         -ms-flex-align: end;
             align-items: end;
               -webkit-box-pack: right;
                   -ms-flex-pack: right;
                       justify-content: right;

    }
    #cL {

    /*animation: fadeoutText 1s; /***Transition delay 3s fadeout is class***/

   /*  background-color: #FFAEBC;*/
     text-transform: uppercase;
     left: -300px;
               -webkit-box-pack: right;
                   -ms-flex-pack: right;
                       justify-content: right;

    }


    #c2 {
        opacity: 1;
        /*background-color: #A0E7E5;*/

         text-transform: uppercase;
         left: 300px;
         -webkit-box-align: end;
             -ms-flex-align: end;
                 align-items: end;
                                     -webkit-box-pack: left;
                                         -ms-flex-pack: left;
                                             justify-content: left;
    }
    #cR {
    
        /*background-color: #A0E7E5;*/

         text-transform: uppercase;
         left: 300px;
                   -webkit-box-pack: left;
                       -ms-flex-pack: left;
                           justify-content: left;
    }

    .transparent {
            opacity: 0;
    }




    .mR1 {
        opacity: 1;
    
    -webkit-animation: moveRight1 1s;
    
            animation: moveRight1 1s; 
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
     }

    .mL1 {
        opacity: 1;
    
    -webkit-animation: moveLeft1 1s;
    
            animation: moveLeft1 1s; 
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;

    }

    .mR2 {
        -webkit-animation: moveRight2 1s;
                animation: moveRight2 1s; 
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
     }

    .mL2 {
        -webkit-animation: moveLeft2 1s;
                animation: moveLeft2 1s; 
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    }

    .mR3 {

                -webkit-animation: moveRight3 1s, fadeoutText .5s;

                        animation: moveRight3 1s, fadeoutText .5s;
                -webkit-animation-fill-mode: forwards;
                        animation-fill-mode: forwards; 
     }

    .mL3 {
        
                -webkit-animation: moveLeft3 1s, fadeoutText .5s;
        
                        animation: moveLeft3 1s, fadeoutText .5s;
                -webkit-animation-fill-mode: forwards;
                        animation-fill-mode: forwards;
    }
    .fadein {

        -webkit-animation: fadeInText .2s;

                animation: fadeInText .2s;
    }



.pusheenL {
    position: relative;
left:1px;
top:-1px;
    width: auto;
    height: 200px;
}
.pusheenR {
    position: relative;
left:-1px;
top:-1px;
    width: auto;
    height: 200px;
}

@-webkit-keyframes moveRight1 {
    from { left: -300px } 
    to { left : -100px; } 
}
@keyframes moveRight1 {
    from { left: -300px } 
    to { left : -100px; } 
}
@-webkit-keyframes moveLeft1 {
    from { left: 300px } 
    to { left : 100px; } 
}
@keyframes moveLeft1 {
    from { left: 300px } 
    to { left : 100px; } 
}
@-webkit-keyframes moveRight2 {
    from { left: -100px } 
    to { left : 0px; } 
}
@keyframes moveRight2 {
    from { left: -100px } 
    to { left : 0px; } 
}
@-webkit-keyframes moveLeft2 {
    from { left: 100px } 
    to { left : 0px; } 
}
@keyframes moveLeft2 {
    from { left: 100px } 
    to { left : 0px; } 
}

@-webkit-keyframes moveRight3 {
    from { left: 0px } 
    to { left : -300px; } 
}

@keyframes moveRight3 {
    from { left: 0px } 
    to { left : -300px; } 
}
@-webkit-keyframes moveLeft3 {
    from { left: 0px } 
    to { left : 300px; } 
}
@keyframes moveLeft3 {
    from { left: 0px } 
    to { left : 300px; } 
}


@-webkit-keyframes fadeoutText {
    from { opacity: 1; } 
    to { opacity: 0; } 
}
@keyframes fadeoutText {
    from { opacity: 1; } 
    to { opacity: 0; } 
}
@-webkit-keyframes fadeInText {
    from { opacity:0; } 
    to { opacity: 1; } 
}
@keyframes fadeInText {
    from { opacity:0; } 
    to { opacity: 1; } 
}


    h1{
    margin-top: 40px;
    font-family: Arial, sans-serif; font-size: 42px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 47px;
    color: #434344;
    }
    
    
.styled {
    position: absolute;

    left: 50%;
    top: 80%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);

    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color:   rgb(251, 231, 198);
    background-image: -webkit-gradient(linear,
                                      right bottom, left top,
                                      from(rgba(0, 0, 0, .2)),
                                      color-stop(30%, rgba(0, 0, 0, .2)),
                                      to(rgba(0, 0, 0, 0)));
    background-image: -o-linear-gradient(bottom right,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    -webkit-box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
            box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color:   rgb(251, 231, 198);
}

.styled:active {
    -webkit-box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
            box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}


